<div class="container">

	<div *ngIf="currentCharacter != 'info' && !finished" class="character-display">
		<img class="character-img" src="{{deploypath}}/assets/images/characters/{{ currentCharacter }}.png" alt="Character image">
	</div>

	<div class="dialogue-box" [class.info]="currentCharacter == 'info'" [class.whiteOnBlack]="stateService.dialogueWhiteOnBlack" *ngIf="!finished">

		<ng-template #noCharacter> {{ displayedDialogue }} </ng-template>

		<ng-template #hasCharacter> {{ currentCharacter + ': ' + displayedDialogue }} </ng-template>

		<ng-content *ngIf="currentCharacter == 'info'; then noCharacter; else hasCharacter"></ng-content>

		<span [class.blinking]="!stateService.dialogueWhiteOnBlack" [class.blinkingBlack]="stateService.dialogueWhiteOnBlack" *ngIf="finishedTyping">&rArr;</span>

		<img class="bw" id="bw" src="{{deploypath}}/assets/images/other/bw.png" alt="" (click)="changeBW()">

	</div>

</div>

