<div class="container">

	<div *ngIf="currentCharacter != 'info' && !finished" class="character-display">
		<img class="character-img" src="{{deploypath}}/assets/images/characters/{{ currentCharacter }}.png" alt="Character image">
	</div>

	<div class="dialogue-box" [class.info]="currentCharacter == 'info'" *ngIf="!finished">

		<ng-template #noCharacter> {{ displayedDialogue }} </ng-template>

		<ng-template #hasCharacter> {{ currentCharacter + ': ' + displayedDialogue }} </ng-template>

		<ng-content *ngIf="currentCharacter == 'info'; then noCharacter; else hasCharacter"></ng-content>

		<span class="blinking" *ngIf="finishedTyping">&rArr;</span>

	</div>

</div>

