<div class="container">

	<div *ngIf="currentCharacter != 'info' && !finished" class="character-display">
		<img class="character-img" src="{{deploypath}}/assets/images/characters/{{ currentCharacter }}.png" alt="Character image">
	</div>

	<div class="dialogue-box" *ngIf="!finished">

		<ng-template #noCharacter> {{ currentDialogue }} </ng-template>

		<ng-template #hasCharacter> {{ currentCharacter + ': ' + currentDialogue }} </ng-template>

		<ng-content *ngIf="currentCharacter == 'info'; then noCharacter; else hasCharacter"></ng-content>

	</div>

</div>

