/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache


###

node_modules
/angular/node_modules
/public/storage
/public/node_modules
/public/app
/public/img/avatars
/vendor
/.idea
Homestead.json
Homestead*.yaml
.env
.DS_Store
Desktop.ini
Thumbs.db
._*
*.swp
*.swo
.vagrant
Vagrantfile
.todo
!sass/vendor
.vscode/*
.vs/*

storage/framework/*
storage/app/*
storage/logs/*
bootstrap/cache

after.sh
aliases