.map-background {
    position: absolute;
    background-color: lightgreen;
    width: 100%;
    height: calc(100% - 100px);
}

.location {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: red;
    cursor: pointer;
}

.clickable1 {
    top: 10%;
    left: 15%;
}

.clickable2 {
    top: 45%;
    left: 70%;
}

.clickable3 {
    top: 70%;
    left: 45%;
}