.map-background {
    position: absolute;
    background-color: lightgreen;
    width: 100%;
    height: calc(100% - 112px);
}

.location {
    position: absolute;
    width: 350px;
    height: 200px;
    background-color: red;
    cursor: pointer;
}

.forest {
    top: 10%;
    left: 15%;
}

.town {
    top: 45%;
    left: 70%;
}

.lighthouse {
    top: 70%;
    left: 40%;
}