<div
	class="location-background"
	[ngStyle]="{
		'background-image': location != 'intro' ? 'url(' + image + ')' : '',
		'background-color': location == 'intro' ? '#000' : '',
		'background-size': location == 'forest' ? 'cover' : ''
	}">

	<ng-container *ngIf="location == 'forest'">

		<div class="clickable leaves" (click)="handleBackgroundClick('leaves')">
		</div>

		<div class="clickable tree" (click)="handleBackgroundClick('tree')">
		</div>

	</ng-container>


	<ng-container *ngIf="location == 'town'">

		<div class="clickable market" (click)="handleBackgroundClick('market')">
		</div>

		<div class="clickable lamp" (click)="handleBackgroundClick('lamp')">
		</div>

		<div class="clickable clocktower" (click)="handleBackgroundClick('clocktower')">
		</div>

		<div class="clickable window" (click)="handleBackgroundClick('window')">
		</div>

		<div *ngIf="stateService.nextLocation != 'market'" class="clickable door" (click)="handleBackgroundClick('door')">
		</div>

	</ng-container>


	<ng-container *ngIf="location == 'market'">

		<div class="clickable town" (click)="handleBackgroundClick('town')">
		</div>

		<div class="clickable newspaper-stand" (click)="handleBackgroundClick('newspaper-stand')">
		</div>

		<div class="clickable fruit-stand" (click)="handleBackgroundClick('fruit-stand')">
		</div>

	</ng-container>


	<ng-container *ngIf="location == 'lighthouse'">

		<div class="clickable foghorn" (click)="handleBackgroundClick('foghorn')">
		</div>

		<div *ngIf="!stateService.dialogueActive && stateService.nextLocation != 'forest'" class="clickable lighthouseDoor" (click)="handleBackgroundClick('lighthouseDoor')">
		</div>

		<div *ngIf="!stateService.dialogueActive" class="clickable waves" (click)="handleBackgroundClick('waves')">
		</div>

	</ng-container>
	

	<app-dialogue
		*ngIf="stateService.dialogueActive"
		(finishedDialogue)="stateService.dialogueActive=false">
	</app-dialogue>

</div>