.location-background {
    position: absolute;
    /* background-color: lightskyblue; */
    width: 100%;
    height: calc(100% - 112px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.clickable {
    z-index: 99;
    position: absolute;
    background-color: transparent;
    /* background-color: red; */
    cursor: pointer;
}

/**
 * Town centre
 */
.market {
    top: 56%;
    left: 17%;
    width: 9%;
    height: 25%;
}

.lamp {
    top: 15%;
    left: 84%;
    width: 10%;
    height: 29%;
}

.clocktower {
    top: 2%;
    left: 20%;
    width: 12%;
    height: 53%;
}

.window {
    top: 15%;
    left: 69%;
    width: 16%;
    height: 75%;
}

/**
 * Market
 */
 .town {
    top: 20%;
    left: 52%;
    width: 19%;
    height: 45%;
}

.newspaper-stand {
    top: 42%;
    left: 28%;
    width: 14%;
    height: 57%;
}

.fruit-stand {
    top: 39%;
    left: 0%;
    width: 26%;
    height: 58%;
}
