<div class="location-background" [ngStyle]="{'background-image': 'location' != 'intro' ? 'url(' + image + ')' : '', 'background-color': 'location' != 'intro' ? '#000' : ''}">

	<ng-container *ngIf="!dialogueActive && location == 'town'">

			<div class="clickable market" (click)="handleBackgroundClick('market')">
			</div>

			<div class="clickable lamp" (click)="handleBackgroundClick('lamp')">
			</div>

			<div class="clickable clocktower" (click)="handleBackgroundClick('clocktower')">
			</div>

			<div class="clickable window" (click)="handleBackgroundClick('window')">
			</div>

	</ng-container>
	
	<app-dialogue
		*ngIf="dialogueActive"
		(finishedDialogue)="this.dialogueActive=false">
	</app-dialogue>

</div>