.header-bar {
    width: calc(100% - 12px);
    height: 100px;
    background-color: #ffcc80;
    border: 6px solid #0000ff;
}

.empty-header {
    width: calc(100% - 12px);
    height: 100px;
    background-color: black;
    border: 6px solid black;
}

.container {
    display: inline-block;
    width: 48%;
    height: calc(100% - 12px);
    padding: 10px;
    vertical-align: top;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.inventory {

}

.item {
    display: inline-block;
    margin: 0 25px;
    background-color: transparent;
    font-size: 25px;
    color: black;
    cursor: pointer;
}

.icon {
    width: auto;
    height: 75px;
}

.current-task {

}

.primary-text {
    font-weight: 600;
    font-size: x-large;
}

.hidden {
    visibility: hidden;
}
