<div class="header-bar">

	<div class="container">
		
		<span class="inventory primary-text">
			Inventory
		</span>

		<div class="item" (click)="goToMap()">
			<div class="icon"></div>
			Map
		</div>

		<div *ngIf="stateService.inventory.carrots > 0" (click)="itemClick('carrot')" class="item">
			<div class="icon"></div>
			Carrots: {{ stateService.inventory.carrots }}
		</div>

		<div *ngIf="stateService.inventory.gold > 0" (click)="itemClick('gold')" class="item">
			<div class="icon"></div>
			Gold: {{ stateService.inventory.gold }}
		</div>

		<div *ngIf="stateService.inventory.book > 0" (click)="itemClick('book')" class="item">
			<div class="icon"></div>
			Book
		</div>

	</div>

	<div class="container">
		<span class="current-task primary-text">
			{{ stateService.getCurrentTask() }}
		</span>
	</div>

</div>