<div class="header-bar" *ngIf="stateService.currentLocation != 'intro'">
		<!-- [class.hidden]="stateService.currentLocation == 'intro'" -->

	<div class="container">
		
		<span class="inventory primary-text">
			Inventory
		</span>

		<div class="item" (click)="goToMap()">
			<!-- <div class="icon"></div> -->
			<img class="icon" src="{{deploypath}}/assets/images/inventory/map.png" alt="Map">
		</div>

		<div *ngIf="stateService.inventory.carrots > 0" (click)="itemClick('carrots')" class="item">
			<img class="icon" src="{{deploypath}}/assets/images/inventory/carrots.png" alt="Carrots: ">
			{{ stateService.inventory.carrots }}
		</div>

		<div *ngIf="stateService.inventory.gold > 0" (click)="itemClick('gold')" class="item">
			<img class="icon" src="{{deploypath}}/assets/images/inventory/gold.png" alt="Gold: ">
			{{ stateService.inventory.gold }}
		</div>

		<div *ngIf="stateService.inventory.book > 0" (click)="itemClick('book')" class="item">
			<img class="icon" src="{{deploypath}}/assets/images/inventory/book.png" alt="SpellBook: ">
		</div>

	</div>

	<div class="container">
		<span class="current-task primary-text">
			{{ stateService.getCurrentTask() }}
		</span>
	</div>

</div>

<div class="empty-header" *ngIf="stateService.currentLocation == 'intro'"></div>